<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node JS</title>
    <style>
        body{
            background-color: lightgreen;
            font-family: Arial,sans-serif;
            text-align: center;
        }
        h2{
            font-size: 40px;
        }
        p{
            font-size: 18px;
        }
        nav{
            background-color: black;
            padding: 10px;
        }
        nav a{
            color: white;
            text-decoration: none;
            padding: 0 20px;
        }
    </style>
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/services">Services</a>
    <a href="/contact">Contact</a>
</nav>

    <div>
        <h2>Get in Touch</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto, aspernatur consectetur cum dicta dolore et exercitationem in ipsam iure labore laudantium libero minima, odit quibusdam rerum, sed sequi! Natus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at consequatur, delectus deleniti dolore dolorum illo ipsa necessitatibus quae quas! Beatae cumque dolor earum, ex exercitationem facere inventore labore odit perferendis, provident quam qui quisquam saepe similique suscipit voluptas voluptatum. Beatae cumque debitis dicta facere fuga harum hic, in incidunt labore minima natus non odit praesentium quisquam saepe, sed unde!</p>
    </div>

</body>
</html>
